In [12]:
import pandas as pd

In [21]:
n  = 4
for i in range(n):
    print(i,end = ' ')

0 1 2 3

In [3]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 20, 30, 40, 50]
adding =list(map(lambda x, y : x + y , list1, list2)) 
adding

[11, 22, 33, 44, 55]

In [2]:
import json

In [4]:
js = {'places':['delhi','mumbai','chennai','kolkata'],'population':[1234,675443,88765,8876756]}

In [8]:
with open ("js.json","w") as file:
    json.dump(js,file)

In [9]:
with open ("js.json","r") as file:
   fg =  json.load(file)

In [10]:
fg

{'places': ['delhi', 'mumbai', 'chennai', 'kolkata'],
 'population': [1234, 675443, 88765, 8876756]}

In [14]:
df = pd.DataFrame(fg)
df

    places  population
0    delhi        1234
1   mumbai      675443
2  chennai       88765
3  kolkata     8876756

In [15]:
jlin = [{'name':'parivallal','age':32},{'name':'sasikala','age':31},{'name':'jagathram','age':4}]

In [18]:
with open ("jl.jsonl","w") as file:
    for i in jlin:
        json.dump(jl.jsonl)

NameError: name 'jl' is not defined