In [3]:
import pandas as pd
import mysql.connector

In [9]:
df = pd.read_csv('netflix_titles.csv')

In [10]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [11]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [13]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [14]:
conn = mysql.connector.connect(host='127.0.0.1',username='root',password='Admin@123',database='netflix')
cursor = conn.cursor()

In [15]:
create_table_query = '''
CREATE TABLE movie_ (
    show_id VARCHAR(50) NOT NULL PRIMARY KEY,
    type VARCHAR(50),
    title VARCHAR(255),
    director VARCHAR(255),
    cast TEXT,
    country VARCHAR(100),
    date_added DATE,
    release_year INT,
    rating VARCHAR(10),
    duration VARCHAR(50),
    listed_in TEXT,
    description TEXT
)
'''

In [6]:
cursor.execute(create_table_query)
conn.commit()

In [27]:
insert_data_query = '''
INSERT INTO movie_ (
    show_id, type, title, director, cast, country, date_added,
    release_year, rating, duration, listed_in, description
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
'''

In [25]:
from tqdm import tqdm
for row in tqdm(df.iterrows()):
    cursor.execute(insert_data_query,
        row['show_id'],
        row['type'],
        row['title'],
        row['director'],
        row['cast'],
        row['country'],
        row['date_added'],
        row['release_year'],
        row['rating'],
        row['rating'],
        row['listed_in'],
        row['description']
    )
    conn.commit()

0it [00:00, ?it/s]

TypeError: tuple indices must be integers or slices, not str

In [28]:
for index, row in tqdm(df.iterrows(), total=df.shape[0]):
    cursor.execute(insert_data_query, (
        row['show_id'],
        row['type'],
        row['title'],
        row['director'],
        row['cast'],
        row['country'],
        row['date_added'],
        row['release_year'],
        row['rating'],
        row['duration'],
        row['listed_in'],
        row['description']
    ))
    conn.commit()

  0%|          | 0/8807 [00:00<?, ?it/s]

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'