In [1]:
import pandas as pd
import mysql.connector

In [2]:
conn = mysql.connector.connect(username='root',host='127.0.0.1',password='Admin@123',database='master_sample')
cursor = conn.cursor()

In [3]:
top_10 = '''
    SELECT product_id, SUM(sale_price) AS sales
    FROM df_orders
    GROUP BY product_id
    ORDER BY sales desc
'''

In [6]:
cursor.execute(top_10)
rf = cursor.fetchall()
rf

[('TEC-CO-10004722', Decimal('59514')),
 ('OFF-BI-10003527', Decimal('26525')),
 ('TEC-MA-10002412', Decimal('21734')),
 ('FUR-CH-10002024', Decimal('21096')),
 ('OFF-BI-10001359', Decimal('19090')),
 ('OFF-BI-10000545', Decimal('18249')),
 ('TEC-CO-10001449', Decimal('18151')),
 ('TEC-MA-10001127', Decimal('17906')),
 ('OFF-BI-10004995', Decimal('17355')),
 ('OFF-SU-10000151', Decimal('16327'))]

In [5]:
top_10 = '''
    SELECT product_id, SUM(sale_price) AS sales
    FROM df_orders
    GROUP BY product_id
    ORDER BY sales DESC
    LIMIT 10
'''

cursor.execute(top_10)
rf = cursor.fetchall()
print(rf)

[('TEC-CO-10004722', Decimal('59514')), ('OFF-BI-10003527', Decimal('26525')), ('TEC-MA-10002412', Decimal('21734')), ('FUR-CH-10002024', Decimal('21096')), ('OFF-BI-10001359', Decimal('19090')), ('OFF-BI-10000545', Decimal('18249')), ('TEC-CO-10001449', Decimal('18151')), ('TEC-MA-10001127', Decimal('17906')), ('OFF-BI-10004995', Decimal('17355')), ('OFF-SU-10000151', Decimal('16327'))]